var
    tsc = require('typescript'), 
    compiler = new tsc.TypeScriptCompiler;

this.onstaticfile = function (event) {

  var
    req = event.request,
    res = event.response,
    ext = event.ext.toLowerCase(),
    code = '' + event.data
    code = tsc.ScriptSnapshot.fromString(code);

  if(ext == '.ts'){
    compiler.addFile('0.ts', code); 
  
    var result = ''
    for(var it = compiler.compile(); it.moveNext();){
  
      var current = it.current()
      if(current.outputFiles.length)
        result = current.outputFiles[0]
      }

    res.end(result.text)
    event.preventDefault()
  }

}

/// for debug purpose
function log(e) {
  console.log(e);
}
