var
    tsc = require('typescript'), 
    compiler = new tsc.TypeScriptCompiler,
    es6 = require('es6-transpiler'),
    react = require('react-tools'),
    wrapup = require('wrapup')

this.onstaticfile = function (event) {

  var
    req = event.request,
    res = event.response,
    ext = event.ext.toLowerCase(),
    code = '' + event.data,
    result;

  switch(ext){

  case '.es6':
    result = es6.run({src: code}) // todo handling errors
    res.end(result.src);
    event.preventDefault()
  break;

  case '.ts':
    code = tsc.ScriptSnapshot.fromString(code);

    compiler.addFile('0.ts', code); 
  
    result = ''
    for(var it = compiler.compile(); it.moveNext();){
  
      var current = it.current()
      if(current.outputFiles.length)
        result = current.outputFiles[0]
      }

    res.end(result.text)
    event.preventDefault()
  break;

  case '.jsx':
    var code = react.transform(event.data)
    res.end(code);
    event.preventDefault()
  break;

  case '.wrup':
    var wrup = new wrapup(),
        result = ''

    wrup.require(event.path)
    wrup.up(function(error, result){
      res.end(result)
    })
    event.preventDefault()
  break;

  }

}

/// for debug purpose
function log(e) {
  console.log(e);
}



